.App {
  justify-items: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(228, 228, 228);
}
.outerBox {
  padding-top: 50px;
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
}
.name-header {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  color:rgb(90, 90, 90);
}
.links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  justify-content: space-around;
}
.links li {
  padding-left: 20px;
}
.mah-container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  width: 60%;
}
.jumbo_header {
  margin-top: 0px;
  background-image: url(https://wallpaperaccess.com/full/175967.jpg);
  height: 270px;
  display: inline-flex;
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0rem -1rem 3rem 0px rgb(0 0 0 / 50%);
}
.my_image {
  border-style: double;
  border-width: 5px;
  border-color: rgb(236, 236, 236);
  border-bottom-left-radius: 75px;
  border-bottom-right-radius: 75px;
}
.my_image_row {
  width: 30%;
  padding-top: 50px;
  margin-left: 50px;
}
.details_row {
  width: 70%;
  margin-top: 50px;
  margin-bottom: auto;
}
.name {
  font-size: 48px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  color: white;
}
.description{
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: 100;
}
.btn.download {
  border-radius: 50px;
}
.btn.hire {
  border-radius: 50px;
}
.mah-resume {
  background-color: white;
  box-shadow: 0px 1rem 3rem 1px rgb(0 0 0 / 50%);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}